* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}

header {
    margin-bottom: 85px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    max-width: 1100px;
}

.logo-show {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    left: 100px;
}

.logo-track {
    font-size: 18px;
    font-weight: 700;
    color: #540cfa;
}

ul {
    list-style: none;
    padding: 0;
}

.navigation-list {
    display: flex;
}

.navigation-items {
    font-size: 14px;
    margin-right: 60px;
}

.navigation-items:last-child {
    margin-right: auto;
}

.log-in {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.button-header {
    background-color: #540cfa;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    margin-left: 30px;
}

.button-header:hover {
    background-color: #000;
}

.home-first-sect {
    margin-bottom: 160px;
}

.container-home-first-sect {
    display: flex;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    max-width: 1100px;
}

.home-first-sect-left {
    margin-top: 65px;
}

.h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1.03;
    margin-top: 0;
    margin-bottom: 20px;
}

.p-light {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.52;
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 490px;
}

.field {
    display: flex;
    width: 450px;
    height: 53px;
    border-radius: 4px;
    border: solid 0.5px rgba(0, 0, 0, 0.05);
    margin-bottom: 130px;
}

.outlined-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    min-width: 310px;
}

.label {
    font-size: 12px;
    font-weight: bold;
    color: #540cfa;
    text-align: left;
}

.input {
    font-size: 16px;
    opacity: 0.3;
    border: none;
}

.button-field {
    width: 140px;
    height: 53px;
    background-color: #540cfa;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    padding: 0;
}

.h5 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0.3;
    text-transform: uppercase;
    margin-top: 0;
}

.home-first-sect-icons-list {
    display: flex;
}

.home-first-sect-icons-items {
    margin-right: 37.5px;
    opacity: 0.3;
}

.home-first-sect-right {
    width: 310px;
    height: 620px;
}

.home-second-sect {
 margin-bottom: 140px;
}

.container-home-second-sect {
    text-align: center;
    max-width: 1100px;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
}

.home-second-sect-top {
    max-width: 610px;
    margin: 0 auto 0 auto;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.05;
    margin-top: 0;
    margin-bottom: 30px;
}

.p-h2 {
    font-size: 21px;
    line-height: 1.52;
    opacity: 0.8;   
    margin-top: 0;
    margin-bottom: 80px; 
}

.home-second-sect-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container-home-second-sect-bottom {
    max-width: 300px;
    margin: 0 auto;
}

.form-square {
    width: 50px;
    height: 50px;
    margin: 0 auto 14px auto;
    border-radius: 14px;
    display: flex;
    justify-content: center;
}

#purple {
    box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
    background-image: linear-gradient( #9c09db, #1c0fd7);
}

#orange {
    box-shadow: 0 2px 4px 0 rgba(128, 32, 0, 0.15);
    background-image: linear-gradient(to top, #f2c314, #fc3832);
}

#blue {
    box-shadow: 0 2px 4px 0 rgba(8, 38, 168, 0.15);
    background-image: linear-gradient(to top, #32fbfc, #3214f2);
}

.h4-bold {
    font-weight: bold;
    margin-bottom: 8px;
}

.p-h4 {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: 10px;
}

.link {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #540cfa;
}

.movie-covers {
    margin-bottom: 140px;
}

.movie-covers-list {
    display: flex;
    justify-content: center;
    margin: 0;
}

.movie-covers-items {
    margin: 0 30px 0 0; 
}

.movie-covers-items :last-child {
    margin-right: auto;
}

.home-third-sect {
    margin-bottom: 140px;
}

.container-home-third-sect {
    display: flex;
    max-width: 1270px;
    padding: 0 0 0 20px;
    margin: 0 auto;
}

.home-third-sect-left {
    max-width: 460px;
}


h3 {
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    margin-top: 0;
    margin-bottom: 20px;
}

.p-h3 {
    font-size: 18px;
    line-height: 1.56;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 60px;
}

.home-third-sect-list {
    margin: 0 0 0 17px;
}

.home-third-sect-items {
    display: flex;
    margin-bottom: 55px;
}

.icon-opacity {
    opacity: 0.5;
}

.p-icons-list {
    padding-left: 17px;
    margin: 0;
}

.home-third-sect-right {
    max-width: 711px;
    padding-left: 160px;
}

.home-third-sect-right-front {
    width: 265px;
    margin-top: -356px;
    margin-left: -60px;
}

.home-third-sect-right-back {
    height: 511px;
}

.home-fourth-sect {
    margin-bottom: 138px;
    background: #000;
}

.container-home-fourth-sect {
    height: 800px;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.home-fourth-sect-left {
    max-width: 460px;
    color: #ffffff;
    display: inline-block;
    vertical-align: bottom;


}

.p-white {
    font-size: 18px;
    line-height: 1.56;
    opacity: 0.8;
    margin-bottom: 30px;
    margin-top: 0;
}

.button-heigth42 {
    border-radius: 4px;
    padding: 10px 26px 12px 26px;
    background-color: #540cfa;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 16px;

}

#field-center {
    margin: auto;
}

footer {
    margin-bottom: 30px;
}

.container-footer {
    text-align: center;
    max-width: 1100px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
}

.social-networks-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 28px;
}

.social-network-items {
    margin-right: 30px;
    opacity: 0.2;
    height: 16px;
}

.social-network-items:last-child {
    margin-right: 0;
}

.copyright-text {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.3;
}




